<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
	<link rel="stylesheet" href="css/estilos.css" th:href="@{/css/estilos.css}">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
	<title>Formulario de registro</title>
</head>

<body>
	<!--CABECERA-->
	<header th:replace="~{fragmentos/head::encabezado}"></header>

	<nav th:replace="~{fragmentos/nav::menu}"></nav>

	<!--CONTENIDO-->
	<main>
		<section class="container min-vh-100 p-3">
			<div class="col-md-offset-1 col-md-10 table-responsive">
				<table class="table table-hover text-center">
					<thead>
						<tr>
							<th scope="col">Imagen</th>
							<th scope="col">Producto</th>
							<th scope="col">Precio</th>
							<th scope="col">Cantidad</th>
							<th scope="col">Subtotal</th>
							<th scope="col">Borrar</th>
						</tr>
					</thead>
					<tbody th:remove="all-but-first">
						<tr th:each="element : ${productos.entrySet()}">
							<td><img width="100" height="100" th:src="${not (#strings.isEmpty(element.key.rutaImg))} 
                             ? ${element.key.rutaImg} : 'http://placehold.it/48x48'" class="img-responsive"
									alt="imagen del producto" /></td>
							<td th:text="${element.key.nombre}">Mark</td>
							<td th:text="${'€' + #numbers.formatDecimal(element.key.precio, 1, 2)}">Otto</td>
							<td th:text="${element.value}">@mdo</td>
							<td th:text="${element.key.precio * element.value + '€'}">Mark</td>
							<td><a href="#" class="btn btn-outline-dark" data-bs-toggle="modal"
									data-bs-target="#myModal" th:attr="data-bs-target='#myModal'+${element.key.id}"><img
										alt="borrar" th:src="@{/img/borrar.png}"></a>

								<div class="modal" id="myModal" tabindex="-1" th:id="'myModal'+${element.key.id}">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="exampleModalLabel">Confirmar</h5>
												<button type="button" class="btn-close" data-bs-dismiss="modal"
													aria-label="Close"></button>
											</div>
											<div class="modal-body">¿Estás seguro de que deseas
												borrarlo?</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-danger"
													data-bs-dismiss="modal">No</button>
												<a href="#" th:href="@{/borrarProducto/{id}(id=${element.key.id})}"
													class="btn btn-success">Si</a>
											</div>
										</div>
									</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="d-flex justify-content-between fs-5 fw-bold p-3 border-bottom">
					<p>
						PRECIO TOTAL(Descuentos e iva incluidos) = <span
							th:text="${'€' + #numbers.formatDecimal(total_carrito, 1, 2)}">3€</span>
					</p>
					<a th:href="@{/private/prod}"><button class="btn btn-secondary">Seguir
							comprando</button></a> <a th:href="@{/checkout}"><button class="btn btn-success">Validar
							Compra</button> </a>
				</div>
				<div class="text-start fs-5 fw-bold p-3 border-bottom"><a th:href="@{/private/historico}"><button
							class="btn btn-secondary">Mostrar compras</button></a></div>
			</div>
		</section>
	</main>

	<!--FOOTER-->
	<footer th:replace="~{fragmentos/footer::pie}"></footer>
</body>

</html>