<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="En esta pagina tendremos el catálogo de productos de nuestra tienda.">
	<meta name="author" content="Jose Ignacio Rivas">

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
	<link rel="stylesheet" href="css/estilos.css" th:href="@{/css/estilos.css}">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
	<title>ESTANSHOP</title>
</head>

<body>
	<!--CABECERA-->
	<header th:replace="~{fragmentos/head::encabezado}"></header>

	<nav th:replace="~{fragmentos/nav::menu}"></nav>

	<!--CONTENIDO-->
	<main>
		<section class="container min-vh-100">
			<h3 class="text-center text-dark p-3" id="oferta">¡OFERTÓN! 30%
				en compras superiores a 200€(Iva incluido)</h3>
			<form class="container d-flex mt-3 mb-3 w-100" method="GET" th:action="@{/buscar}">
				<button class="btn bg-danger btn-primary-outline-success text-white" type="submit">Buscar</button>
				<input class="form-control w-25" type="search" placeholder="Buscar producto por nombre" name="nombre"
					id="nombre" th:value="${param.nombre}">
			</form>
			<div class="row">
				<div class="col-md-offset-1 col-md-10 table-responsive">
					<table class="table table-hover text-center">
						<thead>
							<tr>
								<th scope="col">Imagen</th>
								<th scope="col">Nombre</th>
								<th scope="col">Tipo de Producto</th>
								<th scope="col">Precio</th>
								<th scope="col">Fecha de agregacion</th>
								<th scope="col">Comprar</th>
								<th scope="col" sec:authorize="hasRole('ROLE_ADMIN')">Editar</th>
								<th scope="col" sec:authorize="hasRole('ROLE_ADMIN')">Borrar</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="producto : ${productos}">
								<!--<th th:text="${producto.id}">1</th>-->
								<td><img width="100" height="100" th:src="${not (#strings.isEmpty(producto.rutaImg))} 
                                                      ? ${producto.rutaImg} : 'http://placehold.it/48x48'"
										class="img-responsive" th:alt="'IMAGEN DE ' + ${producto.nombre}" /></td>
								<td th:text="${producto.nombre}">Mark</td>
								<td th:text="${producto.tipoProd}">Otto</td>
								<td th:text="${'€' + #numbers.formatDecimal(producto.precio, 1, 2)}">@mdo</td>
								<td th:text="${producto.fechaAgregacion}">Otto</td>
								<td class="text-center"><a href="#"
										th:href="@{/productoACarrito/{id}(id=${producto.id})}"><img alt="agregar"
											th:src="@{/img/carrito.png}"></a></td>
								<td sec:authorize="hasRole('ROLE_ADMIN')" class="text-center"><a href="#"
										th:href="@{/editar/{id}(id=${producto.id})}"><img alt="editar"
											th:src="@{/img/editar.png}"></a></td>
								<td sec:authorize="hasRole('ROLE_ADMIN')"><a href="#" class="btn btn-outline-dark"
										data-bs-toggle="modal" data-bs-target="#myModal"
										th:attr="data-bs-target='#myModal'+${producto.id}"><img alt="borrar"
											th:src="@{/img/borrar.png}"></a>

									<div class="modal" id="myModal" tabindex="-1" th:id="'myModal'+${producto.id}">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" id="exampleModalLabel">Confirmar</h5>
													<button type="button" class="btn-close" data-bs-dismiss="modal"
														aria-label="Close"></button>
												</div>
												<div class="modal-body">¿Estás seguro de que deseas
													borrarlo?</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-danger"
														data-bs-dismiss="modal">No</button>
													<a href="#" th:href="@{/borrar/{id}(id=${producto.id})}"
														class="btn btn-success">Si</a>
												</div>
											</div>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</section>
	</main>


	<!--FOOTER-->
	<footer th:replace="~{fragmentos/footer::pie}"></footer>

</body>

</html>