<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
<link rel="stylesheet" href="css/estilos.css"
	th:href="@{/css/estilos.css}">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<title>ESTANSHOP</title>
</head>

<body>
	<!--CABECERA-->
	<header th:replace="~{fragmentos/head::encabezado}"></header>

	<nav th:replace="~{fragmentos/nav::menu}"></nav>

	<!--CONTENIDO-->
	<main>
		<section class="container min-vh-100">
			<form class="container d-flex mt-3 mb-3 w-100" method="GET"
				th:action="@{/buscar}">
				<button class="btn bg-danger btn-primary-outline-success text-white"
					type="submit">Buscar</button>
				<input class="form-control w-25" type="text"
					placeholder="Indica el nombre o tipo de producto" name="nombre"
					id="nombre" th:value="${param.nombre}">
			</form>
			<div class="row">
				<div class="col-md-offset-1 col-md-10">
					<table class="table table-hover text-center">
						<thead>
							<tr>
								<th scope="col">Imagen</th>
								<th scope="col">Nombre</th>
								<th scope="col">Tipo de Producto</th>
								<th scope="col">Precio</th>
								<th scope="col">Cantidad en Stock</th>
								<th scope="col">Fecha de agregacion</th>
								<th scope="col">Comprar</th>
								<th scope="col" sec:authorize="hasRole('ROLE_ADMIN')">Operaciones</th>
							</tr>
						</thead>
						<tbody th:remove="all-but-first">
							<tr th:each="producto : ${productos}">
								<!--<th th:text="${producto.id}">1</th>-->
								<td><img width="100" height="100"
									th:src="${not (#strings.isEmpty(producto.rutaImg))} 
                                                      ? ${producto.rutaImg} : 'http://placehold.it/48x48'"
									class="img-responsive" alt="imagen del producto" /></td>
								<td th:text="${producto.nombre}">Mark</td>
								<td th:text="${producto.tipoProd}">Otto</td>
								<td th:text="${producto.precio + '€'}">@mdo</td>
								<td th:text="${producto.cantidadStock}">Mark</td>
								<td th:text="${producto.fechaAgregacion}">Otto</td>
								<td class="text-center"><a href="#"
									th:href="@{/productoACarrito/{id}(id=${producto.id})}"><img
										alt="borrar" th:src="@{/img/carrito.png}"></a></td>
								<td sec:authorize="hasRole('ROLE_ADMIN')" class="text-center"><a
									href="#" th:href="@{/editar/{id}(id=${producto.id})}"><img
										alt="editar" th:src="@{/img/editar.png}"></a> <a href="#"
									th:href="@{/borrar/{id}(id=${producto.id})}"><img
										alt="borrar" th:src="@{/img/borrar.png}"></a>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</section>
	</main>




	<!--FOOTER-->
	<footer th:replace="~{fragmentos/footer::pie}"></footer>


</body>

</html>