<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
<link rel="stylesheet" href="css/estilos.css" th:href="@{/css/estilos.css}">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>


<body>

    <footer class="conteainer-fluid d-flex align-items-center justify-content-evenly" th:fragment="pie" id="pie">
        <div>
            <span class="text-white fw-bold">ESTANSHOP</span>
        </div>
        <div><span class="text-white fw-bold">C. Condes de Bustillo, 17, 41010 Sevilla </span></div>
        <div><span class="text-white fw-bold">Desarrollado por Jose Ignacio 1ºDAM</span></div>
    </footer>

</body>
</html>