<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
<link rel="stylesheet" href="css/estilos.css" th:href="@{/css/estilos.css}">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>


<body>

	<nav class="navbar navbar-expand-md navbar-light p-3 sticky-top"
		id="lista" th:fragment="menu">
		<div class="container">
			<a class="navbar-brand" href="#" th:href="@{/private/index}"> <span
				class="fs-5 text-danger fw-bold" id="logo">ESTANSHOP</span>
			</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-md-0">
					<li class="nav-item"><a class="nav-link text-white"
						aria-current="page" href="indix.html" th:href="@{/private/index}">Inicio</a></li>
					<li class="nav-item"><a class="nav-link text-white"
						href="producto.html" th:href="@{/private/prod}">Productos</a></li>
					<li class="nav-item"><a class="nav-link text-white"
						href="formulario.html" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin/form}">Agregar producto</a></li>
					<li class="nav-item"><a class="nav-link text-white"
						href="carrito.html" th:href="@{/cesta}">Carrito</a></li>
					<li class="nav-item"><a class="nav-link text-white"
						href="conocenos.html" th:href="@{/conocenos}">Conócenos</a></li>
				</ul>
				<button class="btn btn-danger" sec:authorize="isAuthenticated()">
					<a th:href="@{/logout}" class="text-decoration-none text-white">Salir</a>
				</button>
			</div>

		</div>
	</nav>

</body>
</html>